@mixin h1($color) {
     font-family: $oswald_font;
     font-size: calc(1.1vw + 35.7px);
     font-weight: 700;
     line-height: 64px;
     text-align: center;
     color: $color;
     padding-top: 13px;
}

@mixin h3($color) {
     font-size: calc(0.5vw + 17.8px);
     font-weight: 400;
     font-family: $sourceSans_font;
     text-align: center;
     line-height: 32px;
     padding-top: 32px;
     color: $color;
}

@mixin text {
     font-family: $sourceSans_font;
     font-size: calc(0.2vw + 13px);
     line-height: 22px;
     font-weight: 400;
     color: $textGray_color;
}

@mixin btn {
     border: none;
     border-radius: 18px;
     font-family: $oswald_font;
     font-size: 14px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: 0.1em;
     color: $white_color;
     padding: 5px 18px;
     background-color: $lightBlue_color;
     cursor: pointer;
}