$color-red: red;
$white_color: #fff;
$black_color: #000;
$gray_color: rgb(255, 255, 255, 0.7);
$darkGray_color: #464547;
$textGray_color: #666;
$footerText_color: rgb(255, 255, 255, 0.4);
$lightBlue_color: #55C2D8;
$sourceSans_font: 'Source Sans Pro', sans-serif;
$oswald_font: 'Oswald', sans-serif;