.section_menu_1 {
     background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

     .mainpage_1 {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 100vh;
          animation: mainpage_1 1s;

          &_logo img {
             width: calc(1.1vw + 50.7px);
             animation-name: logo;
             animation-duration: 3s;
             animation-iteration-count: infinite;
             animation-timing-function: linear;
          }

          @keyframes logo {
               0% {
                    transform: rotateY(0) translateY(0px); 
               }
               50% {
                    transform: rotateY(180deg) translateY(10px);
               }
               100% {
                    transform: rotateY(360deg) translateY(0px);
               }
          }

          .h1 {
               @include h1($white_color);
          }

          .h3 {
               @include h3($gray_color);
          }
     }

     @keyframes mainpage_1 {
          from {
               transform: scale(0.1) translateY(50px);
          }

          to {
               transform: scale(1) translateY(0);
          }
     }
}