.section_video_3 {
    background-image: url(../assets/IMG_1334_72dpi_RGB_\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

     .mainpage_3 {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 100px 0px;

          .h1 {
               @include h1($white_color);
               padding: 30px 0px 20px 0px;
          }

          .play {
               width: calc(6.9vw + 73.6px);
               height: calc(6.9vw + 73.6px);
               border-radius: 50%;
               background-color: $white_color;
               display: flex;
               align-items: center;
               justify-content: center;
               margin: 60px 0px;
               transition: .5s;
               cursor: pointer;
               overflow: hidden;

               .triangle {
                    font-size: calc(2.2vw + 26px);
                    color: $lightBlue_color;
                    transform: translateX(5px);
               }

               .back {
                    position: absolute;
               }

               &:hover {
                    transform: scale(1.1);
                    background-color: $lightBlue_color;
               }
               
               &:hover .triangle {
                    color: $white_color;
               }

               &:focus {
                    background-color: black;
               }
               
               &:hover .back {
                    animation-name: back;
                    animation-duration: .5s;
                    animation-delay: .2s;
                    animation-direction: alternate;
               }


               &:active {
                    transform: scale(1);
               }

               @keyframes back {
                    from {
                         transform: scale(1);
                         opacity: 1;
                         right: 48px;
                    }

                    to {
                         transform: scale(5);
                         opacity: 0;
                         right: 10px
                    }
               }
          }

          .h3 {
               @include h3($white_color);
               padding: 20px 0px 30px 0px;
          }
     }
}